@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 92px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f7f7f7;
  font-family: 'Commissioner', sans-serif;
}

header {
    height: var(--header-height);
}
input::placeholder, textarea::placeholder {
    color: initial;
}

.map {
    height: calc(100vh - var(--header-height));
}
.leaflet-container {
    font-family: inherit !important;
}
.leaflet-div-icon {
    background: transparent !important;
    border: 0 !important;
}
#headlessui-portal-root {
    position: absolute;
    z-index: 402;
}
.leaflet-control-attribution {
    display: none;
}
.leaflet-pane {
    z-index: 1!important;
}
.leaflet-marker-pane {
    z-index: 600!important;
}

.leaflet-heatmap-layer {
    opacity: .5;
}

.AccordionChevron {
	transition: transform 300ms;
}
.AccordionTrigger[data-state="open"] .AccordionChevron {
	transform: rotate(180deg);
}

.PopoverContent {
	animation-duration: 0.6s;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.PopoverContent[data-side="top"] {
	animation-name: slideUp;
}
.PopoverContent[data-side="bottom"] {
	animation-name: slideDown;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
