@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;600&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 92px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-family: 'Commissioner', sans-serif;
}

header {
    height: var(--header-height);
}
.map {
    height: calc(100vh - var(--header-height));
}
.leaflet-container {
    font-family: inherit !important;
}
.leaflet-div-icon {
    background: transparent !important;
    border: 0 !important;
}